<div class="container">
    <legend class="text-center">Registration Form</legend>

    <p class="text-danger">{{error}}</p>

    <div class="form-group">
        <label>Full Name</label>
        <input type="text" required class="form-control" ng-model="fullname">
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" required class="form-control" ng-model="dob">
    </div>

    <div class="form-group">
        <label>Sex</label>
        <select class="form-control" required ng-model="sex">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>

    <div class="form-group">
        <label>About yourself</label>
        <textarea required class="form-control" ng-model="about"></textarea>
    </div>

    <div class="form-group">
        <label>User ID</label>
        <input type="text" required class="form-control" ng-model="userid">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" required class="form-control" ng-model="password">
    </div>

    <div class="form-group">
        <button type="button" class="form-control btn btn-primary" ng-click="submit()">Sign Up</button>
    </div>

    <div class="form-group">
        <p>Already a user? <a href="#/">Log in</a> here</p>
    </div>
</div>